body
	background-color #dd4848

#ytSearch
	margin 0px 10px
	
	
background-linear-gradient(startColor endColor)
	background-color startColor
	background-image -webkit-linear-gradient(startColor, endColor)
	background-image -moz-linear-gradient(startColor, endColor)
	background-image -ms-linear-gradient(startColor, endColor)
	background-image -o-linear-gradient(startColor, endColor)
	background-image linear-gradient(startColor, endColor)
	
.result
	background-linear-gradient(#FFFFFF, #e6e6e6);
	border-top solid #000 1px
	border-bottom solid #000 1px
	padding-top 2px
	padding-bottom 2px
